{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div id="modelmaker">

<div id="wrapper">
<div id="page-wrapper" class="gray-bg">

<div class="row border-bottom white-bg">
<nav class="navbar navbar-static-top" role="navigation">
  <div class="navbar-header">
    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
    <i class="fa fa-reorder"></i>
    </button>
    
    <a class="navbar-brand">
        <img src="{% static 'longbow-straight.png' %}" class="navbar-brand" />
        Longbow
    </a>
  </div>
  <div class="navbar-collapse collapse" id="navbar">
    <ul class="nav navbar-nav">
        <li><a>Targeted Learning Platform</a></li>
    </ul>
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <a href="{% url 'token' %}">
                <i class="fa"></i>API Token
            </a>
        </li>
        <li>
            <a href="{% url 'logout' %}">
                <i class="fa fa-sign-out"></i> Log out
            </a>
        </li>
    </ul>
  </div>
</nav>
</div>

<div class="row wrapper border-bottom white-bg page-heading p-sm">
    <div class="col-md-6">
        <!-- <a class="btn btn-default btn-rounded" href="/">Analysis</a> -->
        <a class="btn btn-default btn-rounded" href="/jobs/">
            Jobs
            {% if user.running_job_count > 0 %}
                <span class="label label-primary">{{ user.running_job_count }}</span>
            {% endif %}
        </a>
    </div>
</div>

<div class="wrapper wrapper-content">
  {% block body %}{% endblock %}
</div>



</div>
</div>


{% endblock %}

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>

    <script type="text/javascript">
    var G = {};
    G.models = {{ templates_json | safe }};
    G.datasets = {{ datasets_json | safe }};
    </script>

    <script type="text/javascript" src="{% static 'js/modelmaker.js' %}"></script>
{% endblock %}