{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Berkeley Biostats {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/highlight_default.css' %}">

<style>

</style>

  {% block head %}
  {% endblock %}
</head>

<body class="gray-bg top-navigation">
{% block content %}
{% endblock %}
</body>

<script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vue-resource@1.3.4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highlight.pack.js' %}"></script>

{% block js %}
{% endblock %}

</html>