{% extends "app.html" %}

{% load staticfiles %}

{% block body %}

<div class="wrapper wrapper-content">
<div class="container">

<div class="row">

<div class="col-lg-12">

<div class="tabs-container">
  <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#tab-1">Guided</a></li>
      <li class=""><a data-toggle="tab" href="#tab-2">Custom</a></li>
  </ul>
    
  <div class="tab-content">
  <div id="tab-1" class="tab-pane active">

  <div class="panel-body">
  <div class="row">
  <div class="col-lg-12">

    <div class="ibox-title">
    <h5>Dataset</h5>

    <div class="ibox-tools">
    <button type="button" class="btn btn-xs btn-primary disabled">Choose</button>
    </div>
    
    </div>

    <div class="ibox-content">
    
    <h3 class="p-md">AllGHAPStudies.RData</h3>

    <div class="p-md">
    <h1 class="no-margins">12,345</h1>
    <small>Total Records</small>
    </div>

    <div class="row p-md">
    <div class="col-md-2">
    <h3>Columns</h3>
    </div>
    <div class="col-md-10">
    </div>
    </div>

    <div class="row p-md">
    <div class="col-md-12">
    <table>
    <tr v-for="variable in variables">
    <td class="p-md">${ variable.name }</td>
    <td>
    <div class="btn-group">
    <button 
      v-for="role in roles" 
      v-bind:class="{ 'btn-primary': variable.role === role, 'btn-white': variable.role !== role }" 
      v-on:click="variable.role = role"
      class="btn" 
      type="button"
      >
      ${ role }
    </button>
    </div>
    </td>
    </tr>
    </table>
    </div>
    </div>

    </div> <!-- .ibox-content -->
    </div> <!-- .col-lg-12 -->
    </div> <!-- .row -->

    <div class="row">
    <div class="col-lg-12">
      <div class="ibox-title">
        <h5>Model</h5>
      </div>

      <div class="ibox-content">

      <form method="get" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">Template</label>
        <div class="col-sm-10">
        <select 
          class="form-control m-b" 
          name="account"
          v-model="selectedTemplate"
        >
        <option 
          v-for="template in modelTemplates"
          :value="template"
        >
          ${ template.name }
        </option>
        </select>
        </div>
      </div>
      
      <div class="hr-line-dashed"></div>

      <div v-for="field in selectedTemplate.parameters.fields">

      <div class="form-group">

      <label class="col-sm-2 control-label">${ field.name }</label>

      <div class="col-sm-10">
        <div v-if="field.type === 'float'">
          <input type="number" v-model="field.value" class="form-control"> 
          <span v-if="field.help" class="help-block m-b-none">${ field.help }</span>
        </div>
        <div v-else-if="field.type === 'enum'">
            <label v-for="choice in field.choices" class="checkbox-inline">
              <input 
                type="checkbox" 
                :value="choice" 
                v-model="field.value">
                ${ choice }
            </label>
        </div>
      </div> <!-- .col-sm-10 -->

      </div> <!-- .form-group -->

      <div class="hr-line-dashed"></div>

      </div> <!-- .v-for selectedTemplate.parameters.field -->

      <div class="form-group">
      <div class="col-sm-4">
          <button 
            class="btn btn-primary"
            type="button"
            v-on:click="sendJob"
            >
            Submit Job
          </button>
      </div>
      </div>
      </form>

      <pre>
      ${ selectedTemplate.code }
      </pre>

    </div>

  </div>
</div>
</div>
</div> <!-- #tab1 -->

<div id="tab-2" class="tab-pane">
    <div class="panel-body">
        <h2>Donec quam felis</h2>
    </div>
</div> <!-- #tab2 -->


</div> <!-- .tab-content -->
</div> <!-- .tabs-container -->
</div> <!-- .col-lg-12 -->
</div> <!-- .row -->
</div> <!-- .container -->
</div> <!-- .wrapper -->

</div> <!-- there's an open div orphaned somewhere... -->

{% endblock %}