{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <i class="fa fa-reorder"></i>
                </button>
                <a href="#" class="navbar-brand">Targeted Learning</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="login.html">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>

        <div class="row wrapper border-bottom white-bg page-heading p-sm">
            <div class="col-md-6">
                <a class="btn btn-primary btn-rounded" href="#">Model</a>
                <a class="btn btn-default btn-rounded disabled" href="#">Jobs</a>
                <a class="btn btn-default btn-rounded disabled" href="#">Results</a>
            </div>
            <div class="col-md-4">
                Statistician
                <a class="btn btn-default btn-rounded disabled" href="#">Model Templates</a>
            </div>
        </div>

        <div class="wrapper wrapper-content">
            <div class="container">



                <div class="row">

                    <div class="col-lg-12">


                        <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">Guided</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2">Custom</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="row">
                                      <div class="col-lg-12">
                                        <div class="ibox-title">
                                          <h5>Dataset</h5>


                                          <div class="ibox-tools">


<button type="button" class="btn btn-xs btn-primary disabled">Choose</button>

           
                                           </div>

                                        </div>
                                        <div class="ibox-content">

                                          <h3 class="p-md">AllGHPAStudies.RData</h3>

                                          <div class="p-md">
                                          <h1 class="no-margins">
                                            12,345
                                          </h1>
                                          <small>Total Records</small>

                                          </div>



<div class="row p-md">
  <div class="col-md-2">
    <h3>Columns</h3>
  </div>
  <div class="col-md-10">

<button type="button" class="btn btn-default btn-sm">studyid</button>
<button type="button" class="btn btn-default btn-sm">subjid</button>
<button type="button" class="btn btn-default btn-sm">siteid</button>
<button type="button" class="btn btn-default btn-sm">sex</button>
<button type="button" class="btn btn-default btn-sm">agedays</button>
<button type="button" class="btn btn-default btn-sm">WHZ</button>
<button type="button" class="btn btn-default btn-sm">region</button>
<button type="button" class="btn btn-default btn-sm">risk factor</button>

  </div>
</div>

<div class="row p-md">

  <div class="col-md-3">
    <h3>W Vars</h3>
    <p>Drag columns here</p>
  </div>
  <div class="col-md-3">
    <h3>A Vars</h3>
    <p>Drag columns here</p>
  </div>
  <div class="col-md-3">
    <h3>Y Vars</h3>
    <p>Drag columns here</p>
  </div>



</div>

                                          




                                        </div>
                                    </div>

                                    
                                    </div>

                                    <div class="row">
                                    <div class="col-lg-12">
                                      <div class="ibox-title">
                                        <h5>Model</h5>
                                      </div>
                                      <div class="ibox-content">



<form method="get" class="form-horizontal">


    <div class="form-group"><label class="col-sm-2 control-label">Template</label>

        <div class="col-sm-10"><select class="form-control m-b" name="account">
            <option>HBGDki.R</option>
            <option>option 2</option>
            <option>option 3</option>
            <option>option 4</option>
        </select>

        </div>
    </div>
    <div class="hr-line-dashed"></div>

    <div class="form-group"><label class="col-sm-2 control-label">ABar</label>
        <div class="col-sm-10"><input type="text" class="form-control"> <span class="help-block m-b-none">A block of help text that explains the model input.</span>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    <div class="form-group"><label class="col-sm-2 control-label">Learners</label>

        <div class="col-sm-10"><label class="checkbox-inline"> <input type="checkbox" value="option1" id="inlineCheckbox1">GLM</label> <label class="checkbox-inline">
            <input type="checkbox" value="option2" id="inlineCheckbox2"> Random Forest</label> <label class="checkbox-inline">
            <input type="checkbox" value="option3" id="inlineCheckbox3">Regression</label></div>
    </div>

    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <div class="col-sm-4">
            <button class="btn btn-primary" type="submit">Submit Job</button>
        </div>
    </div>
</form>




                                    <pre>

#Subset to studyid, subjid, siteid, sex, agedays, WHZ, region,  and risk factor
dim(d)
d<- d %>% subset(select=c(WHZ, STUDYID,  SUBJID, SEX, AGEDAYS, region, HHwealth_quart)) %>%
  subset(!is.na(HHwealth_quart)) %>% filter(WHZ>-5 & WHZ <5)
dim(d)
table(d$STUDYID,d$HHwealth_quart)
table(d$STUDYID)
summary(d$WHZ)



#Clean covariates
d$STUDYID<-as.factor(d$STUDYID)
table(d$SEX)
d$SEX[d$SEX=="male"]<-"Male"
d$SEX[d$SEX=="female"]<-"Female"
d$SEX<-as.factor(d$SEX)
d$HHwealth_quart<-factor(d$HHwealth_quart)
d$HHwealth_quart<-as.numeric(unclass(d$HHwealth_quart))

summary(d$HHwealth_quart)


d$wast<-ifelse(d$WHZ< (-2), 1,0)
d$wast[is.na(d$WHZ)]<-NA


#Drop empty factor levels
d<-droplevels(d)
d<-as.data.frame(d)

lib=list(c("SL.glm","screen.corP"),c("SL.bayesglm","screen.corP"),
         c("SL.gam","screen.corP"),
         c("SL.glmnet","All"), c("SL.mean","All"))
lib=c("SL.glm", "SL.gam", "SL.mean","SL.bayesglm")
Wvars<-c("STUDYID", "SEX", "AGEDAYS", "region")

Acuts= c(1.5, 2.5, 3.5)
Alevels=c("Quartile 1", "Quartile 2","Quartile 3","Quartile 4")

overallATE<-tmle_risk(dat=as.data.frame(d),
                      W=Wvars,
                      A="HHwealth_quart",
                      n.cat=4,
                      reflevel=1,
                      Acuts=Acuts,
                      Alevels=Alevels,
                      outputdf=NULL,
                      Y="wast",
                      family="binomial",
                      SLlibrary=lib)
as.data.frame(overallATE)

#NOTE: Need to figure out bug coming from study cross-validation,
# and need to figure out how to create a reference group with enough
# data support for every study

time<-system.time(
  study.ATEs <-
    d %>%
    group_by(STUDYID) %>% select_groups() %>%
    do(try(as.data.frame(tmle_risk(dat=as.data.frame(.),
                                   W=c("SEX", "AGEDAYS"),
                                   A="HHwealth_quart",
                                   n.cat=4,
                                   reflevel=1,
                                   Acuts=Acuts,
                                   Alevels=Alevels,
                                   outputdf=NULL,
                                   Y="wast",
                                   family="binomial",
                                   SLlibrary=lib,
                                   sparseN=0))))
)
as.data.frame(study.ATEs)
time





overallATE<-cbind("overall ATE", as.data.frame((overallATE)))
colnames(overallATE)[1]<-"STUDYID"


res<-rbind(as.data.frame(study.ATEs), as.data.frame(overallATE))
res

                                    </pre>


</div>

                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <h2>Donec quam felis</strong>

                                </div>
                            </div>
                        </div>


                    </div>


                    </div>

                </div>

            </div>

        </div>
        <div class="footer">
        </div>

        </div>
        </div>


    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>


{% endblock %}