{% extends "app.html" %}

{% load staticfiles %}

{% block body %}

<div id="fullscreen">

    <div id="fullscreentop">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
{% if job.title %}
    {{ job.title }}
{% else %}
    [untitled] Parent Job
{% endif %}
            </div>
            <div class="ibox-content">
            <p>Backend: {{ job.backend }}</p>
            <p>Created at: {{ job.created_at }}</p>
            <div class="m-t-lg">


                        <div class="m-t-lg m-b-lg">
                        {% if status_filter %}
                                {% for status, count in status_counts.items %}  
                                {% if status == status_filter %}    
                                <span class="m-sm">
                                <span class="label">{{ count }}</span> 
                                <a href="?status={{ status }}&mode={{ mode }}">{{ status | title }}</a>
                                </span>
                                <a href="?mode={{ mode }}">Remove Filter</a>
                                {% endif %} 
                                {% endfor %}    
                        {% else %}
                                {% for status, count in status_counts.items %}
                                <span class="m-sm">
                                <span class="label">{{ count }}</span> 
                                <a href="?status={{ status }}&mode={{ mode }}">{{ status | title }}</a>
                                </span>
                                {% endfor %}
                        {% endif %}
                        </div>



                <table class="table table-hover">
                    <tbody>
                    {% for job in child_jobs %}
                    <tr>
                        <td class="project-title">
                            <a href="{% url 'job_detail' job.id %}">[{{ job.id }}] {{ job.created_at }}</a>
                        </td>
                        <td class="project-status">
                            <span class="label label-default">{{ job.status }}</span>
                        </td>
                        <td class="project-completion">  
                            <div>{% if superuser %}
                            <p><span class="text-muted">User</span> 
                                {{ job.created_by.username }} 
                                {{ job.created_by.email }}
                            </p>
                            {% endif %}</div>
                        </td>
                        <td>
                            {% if job.output_url %}
                            <div>
                                <a href="{{ job.output_url }}" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> Download Outputs</a>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            </div>

            </div>
            </div>
          </div>
        </div>
    </div>


</div>


{% endblock %}

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>

</script>



{% endblock %}