{% extends "app.html" %}

{% load staticfiles %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
        <div class="ibox-title">{{ job.model_template.name }}</div>
        <div class="ibox-content">
    <p>Backend: {{ job.backend }}</p>
    <p>Created at: {{ job.created_at }}</p>
    <p>Status: {{ job.status }}</p>
    <div>
        <a href="{{ job.output_url }}">Download Outputs</a>
    </div>

        </div>
    </div>


  <div>
</div>

<div class="row">
<div class="col-lg-12">
    <div class="ibox">
        <div class="ibox-title">Output</div>
        <div class="ibox-content">
    {{ job.report_html | safe }}
    </div>
    </div>
</div>

<!-- <div>
    <p>Inputs</p>
    <pre>
    {{ inputs_formatted }}
    </pre>
</div> -->


{% endblock %}

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
{% endblock %}