{% extends "app.html" %}

{% load staticfiles %}

{% block body %}

<div class="row">
    <div class="col-lg-12">

        <div class="btn-group pull-right">
            <span class="step-links">
                {% if jobs.has_previous %}
                    <a class="btn btn-white" href="?page=1">&laquo; first</a>
                    <a class="btn btn-white" href="?page={{ jobs.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current-page">
                    Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}
                </span>

                {% if jobs.has_next %}
                    <a class="btn btn-white" href="?page={{ jobs.next_page_number }}">next</a>
                    <a class="btn btn-white" href="?page={{ jobs.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li><a href="{% url 'jobs' %}">Batch</a></li>
                <li class="active"><a href="{% url 'jobs_oneoff' %}">One-off</a></li>
            </ul>
            <div class="tab-content">
                <div class="panel-body">
            

               <div class="project-list">
                    <table class="table table-hover">
                        <tbody>

        {% for job in jobs %}
                        <tr>
                            <td class="project-status">
                                {% if job.has_children %}  
                                    <small>Child jobs</small>
                                    <span class="label label-primary">{{ job.child_count }}</span>
                                {% else %}
                                <span class="label label-default">{{ job.status }}</span>
                                {% endif %}
                                
                            </td>
                            <td class="project-title">
                                <a href="{% url 'job_detail' job.id %}">{% if job.title %}
                                    {{ job.title }}
                                {% else %}
                                    [untitled job]
                                {% endif %}</a>
                                <br>
                                <small>Created {{ job.created_at }}</small>
                            </td>
                            <td class="project-completion">  
                                <div>{% if superuser %}
                                <p><span class="text-muted">User</span> 
                                    {{ job.created_by.username }} 
                                    {{ job.created_by.email }}
                                </p>
                                {% endif %}</div>
                            </td>
                            <td>
                                {% if job.output_url %}
                                <div>
                                    <a href="{{ job.output_url }}" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> Download Outputs</a>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
        {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>


            </div>
        </div>
    </div>
</div>


  </div>
</div>


{% endblock %}

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
{% endblock %}