{% extends "app.html" %}

{% load staticfiles %}

{% block body %}

<div class="row">
  <div class="col-lg-2">
    
    <h4>Status</h4>
    <div>
    {% if status_filter %}
        <div class="feed-activity-list clear-list">
        {% for status, count in status_counts.items %}
        {% if status == status_filter %}
        <div class="feed-element">
        <span class="label">{{ count | title }}</span>
        <span><a href="?status={{ status }}">{{ status | title }}</a></span>
        </div>
        <div class="m-t-sm"><a href="?">Remove Filter</a></div>
        {% endif %}
        {% endfor %}
        </div>
    {% else %}
        <div class="feed-activity-list clear-list">
        {% for status, count in status_counts.items %}
        <div class="feed-element">
        <span class="label">{{ count | title }}</span>
        <span><a href="?status={{ status }}">{{ status | title }}</a></span>
        </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>


  </div>
  <div class="col-lg-10">

    
    <div class="btn-group pull-right">
        <span class="step-links">
            {% if jobs.has_previous %}
                <a class="btn btn-white" href="?page=1">&laquo; first</a>
                <a class="btn btn-white" href="?page={{ jobs.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current-page">
                Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}
            </span>

            {% if jobs.has_next %}
                <a class="btn btn-white" href="?page={{ jobs.next_page_number }}">next</a>
                <a class="btn btn-white" href="?page={{ jobs.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    {% for job in jobs %}

    <h2>
        <a href="{% url 'job_detail' job.id %}">
            {% if job.title %}
                {{ job.title }}
            {% else %}
                [untitled job]
            {% endif %}
        </a>
    </h2>
    <p><span class="text-muted">Submitted</span> {{ job.created_at }}</p>
    <p><span class="text-muted">Status</span> {{ job.status }}</p>
    {% if superuser %}
    <p><span class="text-muted">User</span> 
        {{ job.created_by.username }} 
        {{ job.created_by.email }}
    </p>
    {% endif %}
    {% if job.output_url %}
    <div>
        <a href="{{ job.output_url }}">Download Outputs</a>
    </div>

    {% endif %}
    <hr>
    {% endfor %}
  </div>
</div>


{% endblock %}

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
{% endblock %}